<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/style.css"></link>
</head>
<body>
        <div class="mainDiv clearfix">
            <div class="headDiv">
                <div class="logohead">
                    <img src="image/resizeApi.png">
                </div>
                <div class="logogo">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">课程</a></li>
                        <li><a href="#">职业规划</a></li>
                    </ul>
                </div>
                <div class="searchDiv">
                    <input type="text">
                    <button></button>
                </div>
                <div class="userDiv">
                    <img src="image/icon/user.png">
                    <a>登录</a>
                </div>
            </div>
        </div>
        <div class=" mainBodyDiv mainDiv clearfix">
            <div class="navDiv">
                <ul>
                    <li><a href="/Huiyi" target="navDiv" id="btnhy">会议</a></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="navBodyDiv">
                <iframe name="navDiv"></iframe>
            </div>
        </div>
<script type="text/javascript">
    window.onload=function () {
        let btnhy=document.getElementById("btnhy");
        btnhy.click();
    }
</script>
</body>
</html>