<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="css/style.css"></link>
</head>
<body>
        <div class="mainDiv">
            <div class="headDiv">
                <div class="logohead">
                    <img src="image/resizeApi.png">
                </div>
                <div class="logogo">
                    <ul>
                        <li><a href="#">首页</a></li>
                        <li><a href="#">课程</a></li>
                        <li><a href="#">职业规划</a></li>
                    </ul>
                </div>
                <div class="searchDiv">
                    <input type="text">
                    <button></button>
                </div>
                <div class="userDiv">
                    <img src="image/icon/user.png">
                    <a>登录</a>
                </div>
            </div>
            <div></div>
        </div>
</body>
</html>